@media (max-width: 1023px) {
  body {
    font-size: 12px;
  }
  main {
    margin-top: 70px;
    grid-template-columns: 200px 1fr;
  }
  .main-info {
    padding: 10px;
  }
  .container {
    padding: 0;
  }
  .header__specialization {
    font-size: 20px;
  }
  .sidebar-info {
    padding: 15 10px;
    font-size: 14px;
  }
  .sidebar-info__avatar {
    width: 100px;
  }
  .footer {
    font-size: 18px;
  }
}

@media (max-width: 578px) {
  body {
    font-size: 10px;
  }

  .header__specialization {
    font-size: 18px;
  }
}
